body{
  color: white;

}

.boundWindow{
  border-top: 3px solid white;
  border-bottom: 3px solid grey;
  border-left: 3px solid white;
  border-right: 3px solid grey;
  background-color: lightgray;

}
.escape{
  width: 15px;
  height: 15px;
  margin: 2px;
  color: black;
  text-align: center;
  background-color: lightgray;w
  border-top: 1px solid white;
  border-bottom: 1px solid grey;
  border-left: 1px solid white;
  border-right: 1px solid grey;
}
.innerBoundWindow{
  padding: 5px;
  display: flex;

  background-color: black;
  min-height: 100px;

}
.innerBoundWindowWrap{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  min-height: 100px;

}

.sidebar{
  width: 15%;
  position: fixed;
  top: 2%;
  left: 2%;
}
.homePage{
  position: fixed;
  width: 50%;
  top: 10%;
  left: 20%;
}
.linksBar{

  top: 40%;
  left: 50%;
  position: fixed;

  width: 35%;
}
.homeLogo{
  top: 5%;
  left: 30%;
  position: fixed;
  width: 20%;

}
.blue {
  background-color: blue;
}
.homeLogo img{
  background-color: black;


}
.homeLogoText{
  padding-left: 3px;
  position: relative;
  display: inline-block;


}
.homeLogoText .content{
  padding-top: 25px;

  display: inline-block;
  vertical-align: middle;



}
