@font-face {
    font-family: 'lucida console';
    src: url('lucon-webfont.woff2') format('woff2'),
         url('lucon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'lucida console';  
}
